<%= form_for @card, :html => { :class => "form-horizontal card" } do |f| %>

  <% if @card.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @card.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :number, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :number, :class => 'form-control' %>
    </div>
    <%=f.error_span(:number) %>
  </div>
  <div class="form-group">
    <%= f.label :image, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :image, :class => 'form-control' %>
    </div>
    <%=f.error_span(:image) %>
  </div>
  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :rarity, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :rarity, :class => 'form-control' %>
    </div>
    <%=f.error_span(:rarity) %>
  </div>
  <div class="form-group">
    <%= f.label :attr, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :attr, :class => 'form-control' %>
    </div>
    <%=f.error_span(:attr) %>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                root_path, :class => 'btn btn-default' %>
    </div>
  </div>
	<% if @card.id %>
	<div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
			<%= button_to 'Delete Card', card_path(@card.id), method: :delete, data: { confirm: "OK?" }, :class => 'btn btn-danger' %>
    </div>
	</div>
	<% end %>

<% end %>
