<h1>Hello, Cinderella Girls!</h1>

<%= link_to "[New Card]", new_card_path %>
<table class="table table-scrollable" id="card_list">
	<thead>
		<tr>
			<th class="col_number">No.</th>
			<th class="col_image">Image</th>
			<th class="col_name">Name</th>
			<th class="col_rarity">Rarity</th>
			<th class="col_attr">Type</th>
			<th class="col_own">Own</th>
			<th class="col_edit">Edit</th>
		<tr/>
		<tr>
			<th class="col_number"><%= text_field :card, :number, class: 'search' %></th>
			<th class="col_image"></th>
			<th class="col_name"><%= text_field :card, :name, class: 'search' %></th>
			<th class="col_rarity"><%= select :card, :rarity, [["-", "None"], ["N", "N"], ["N＋", "N+"], ["R", "R"], ["R＋", "R+"], ["SR", "SR"], ["SR＋", "SR+"], ["SSR", "SSR"], ["SSR＋", "SSR+"]], {}, { class: "search" } %></th>
			<th class="col_attr"><%= select :card, :attr, [["-", "None"], ["キュート", "Cute"], ["クール", "Cool"], ["パッション", "Passion"]], {}, { class: "search" } %></th>
			<th class="col_own"><%= select :card, :own, [["-", "None"], ["Yes", "Yes"], ["No", "No"]], {}, { class: 'search' } %></th>
			<th class="col_edit"></th>
		</tr>
	</thead>
	<tbody>
		<%= render @cards %>
	</tbody>
</table>

